
Ako želite da uklonite sve stavke iz .gitignore datoteke, možete jednostavno izbrisati sve redove ili postaviti datoteku na sledeći način:

plaintext
Copy code
# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#

# Ignore everything
/*

# Except for these files
!.gitignore
